body {
  margin: 0;
  padding: 50px;
}

button {
  margin-bottom: 50px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  width: 50%;
}

li {
  margin-bottom: 10px;
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}